<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Labelbox Web App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Home link -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="/">Home</a>
                </li>
                <!-- Tasks link visible to all users -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/tasks' %}active{% endif %}" href="/tasks">Tasks</a>
                </li>   
                <!-- Conditional links based on authentication status -->
                {% if current_user.is_authenticated %}
                    <!-- Admin link visible only to users with admin role -->
                    {% if current_user.role == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_for('admin.admin_dashboard') %}active{% endif %}" href="{{ url_for('admin.admin_dashboard') }}">Admin Dashboard</a>
                        </li>
                    {% elif current_user.role == 'user' %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_for('auth.user_dashboard') %}active{% endif %}" href="{{ url_for('auth.user_dashboard') }}">Dashboard</a>
                        </li>
                    {% endif %}
                    <!-- Notification icon -->
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url_for('main.notifications') %}active{% endif %}" href="{{ url_for('main.notifications')}}">
                            <i class="fas fa-bell {% if g.read_notifications_count > 0 %}shake{% endif %}"></i>
                            {% if g.unread_notifications_count > 0 %}
                                <span class="badge bg-danger">{{ g.unread_notifications_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <!-- Logout link -->
                    <li class="nav-item">
                        <a class="nav-link logout" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <!-- If the user is not authenticated, show login and register -->
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/login' %}active{% endif %}" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/register' %}active{% endif %}" href="/register">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
